@tailwind base;
@tailwind components;
@tailwind utilities;

.amatic-sc {
  font-family: 'Amatic SC', cursive;
}

.bebas-neue {
  font-family: 'Bebas Neue', cursive;
}

.roboto {
    font-family: 'Roboto', sans-serif;
}

.checkbox:checked {
    right: 0;
}

.checkbox:checked + .toggle-label {
    background-color: #4c51bf;
}